<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
	<!-- 이전 페이지 존재하는가? -->
	{% if previousPage != -1 %}
		<a href = "?index={{previousPage}}">이전 페이지 가기</a>
	{% endif %}
	{% if nextPage != -1 %}
	<!-- GET:URL끝에 ?키  -->
		<a href = "?index={{nextPage}}">다음 페이지 가기</a>
	{% endif %}
	<table width=80%>
		<tr>
			<th>글번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
		</tr>
	{% for obj in data %}
		<tr>
			<td>{{obj.id}}</td>
			<td><a href="{% url 'blog:detail' obj.id %}">{{obj.headline}}</a></td>
			<td>{{obj.author.username}}</td>
			<td>{{obj.pub_date}}</td>
		</tr>
	{% endfor %}
	</table>
{%endblock%}